<!--body content-->
      <!--split into span4 components - each having a movie-->
        <% @current_movies.each do |movie| %>
          <div class="row-fluid">
            <div class="span4">
             <h3><center><%= "#{movie.title}" %></center></h3>
                <center><%= image_tag("#{movie.picture1}", :size =>"250x300" )%></center>
                <br>
                    <center>
                        <a href=<%= "/movies/#{movie.id}" %> class="btn">Learn More</a>
                    </center>
                <br>
                <!--span offset-->
                <div class="span2">
                </div>
                <%= "Rating: #{movie.rating}" %><br>
                <%= "Showtimes: 1:00, 3:00, 5:00, 7:00, 9:00" %>
                <br><br><br>
            </div>
        <% end %>  
        </div>