<!--body content-->
    <!--Big button for adding new movies-->
    <p>
        <!--only admins should be able to add movies-->
        <div class = "span12 maintext">
             <%= link_to 'Add another movie', new_movie_path(), :class => "btn btn-block btn-primary" %>  
        </div>
    </p>
    <br>

    <% i = 0  #counter var %>    
    <% @current_movies.each do |movie| %>
        <% if i % 3 == 0 %>
            <div class="row span12">
        <% end %>
            <div class="span4 maintext">
                <h3><%= "#{movie.title}" %></h3>
                <%= image_tag("#{movie.picture1}", :size =>"250x300" )%>
                <p>
                    <br>
                    <%= link_to 'Learn More', movie_path(movie), :class => "btn" %>                     
                    <!-- Admin-only controls -->
                    <!-- Using a partial so this can be conditionally shown - movie passed in as local var -->
                    <%= render 'shared/admin_controls', :movie => movie  %>
                    <!-- /Admin-only controls -->
                </p>    
                <p>

                <!--span offset-->
                <div class="span12">
                    <%= "Rating: #{movie.rating}" %><br>
                    <%= "Showtimes:#{movie.showtimes}" %>
                </p>
                </div> <!-- span12 -->
            </div> <!--span4-->
        <% i = i + 1 %>
        <% if i % 3 == 0 %>
            </div><!--row div-->
        <% end %>
    <% end %>  
    